footer{
    background-color: $main-cl;
    color: $secondary-cl;
    font-size: 14px;
    text-transform: capitalize;
    min-height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


    