header{
    background-color: #212529;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    gap: 20px;
}

nav a{

    text-transform: uppercase;
    text-decoration: none;
    color: #eeebd0;
}